.row
  %div{ class: 'large-3 columns' }
    %p
      Some stuff on the left
  %div{ class: 'large-6 columns' }
    %h2
      OH MY GAWD AMAZINK
    %p
      Some stuff in the middle
  %div{ class: 'large-3 columns' }
    %p
      Some stuff on the right!

.row
  %div{ class: 'small-4 columns' }
    %p
      Blooaaarrrrrggghh
  %div{ class: 'small-4 columns' }
    %p
      Snap deeble
  %div{ class: 'small-4 columns' }
    %p
      Schnozzle wozzle

.row
  %div{ class: 'small-2 columns' }
    %h2
      BIG IN SMALL
    %p
      Titchy
  %div{ class: 'small-6 columns' }
    %h2
      small in big
    %p
      Biiiiiiiiiiiiiiigggggg
  %div{ class: 'small-4 columns' }
    %p
      Not so biiiiiggg

.row
  %div{ class: 'small-7 columns' }
    %p
      Heh heh heh heh heh heh heh heeeehhhh...
  %div{ class: 'small-3 columns' }
    %h2
      biggidy smallness
    %p
      Smawnd Shurrrfl
  %div{ class: 'small-2 columns' }
    %h2
      WHAT?!  SPOON!  SPOON!
    %p
      Wap wap wap wap wap wap wap
