.off-canvas-wrap
  .inner-wrap
    %nav{ class: 'tab-bar'}
      %section{ class: 'left-small' }
        %a{ class: 'left-off-canvas-toggle menu-icon' }
          %span

    %aside{ class: 'left-off-canvas-menu' }
      %ul{ class: 'off-canvas-list' }
        %li
          %label Shizzale
        %li
          %a{ href: '/' }
            Funk-buster
        %li
          %a{ href: '/' }
            Da Bomb

    %section{ class: 'main-section' }
      %p 
        Set in the year blip de blap de blum bo barp many spanners rebelled against the intergalactic cheese empire of Gadroon Minor

    %a{ class: 'exit-off-canvas' }